@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Bree+Serif&family=Inconsolata:wght@200..900&family=Telex&display=swap');

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

:root {
  --color-light: #efefff;
  --color-primary: #086ad8;
  --color-secondary: #6b7398;
}

* {
  box-sizing: border-box;
  font-family: 'Telex', serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background: var(--color-light);
  color: var(--color-primary);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: #f24e1e;
  }
}

ul,
ol {
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 1.5rem;
}
